.car {
    position: absolute;
    width: 30px;
    height: 60px;
    background: #ff0000;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 380px;
    left: 310px;
    transform: rotate(180deg);
}

.window-front {
    position: absolute;
    top: 26px;
    width: 25px;
    height: 15px;
    border-radius: 2px;
    background: black;
    margin-top: 5px;
}

.window-back {
    position: absolute;
    width: 25px;
    height: 6px;
    background: black;
    border-radius: 2px;
    top: 10px;
}

/* Faros */
.headlight {
    position: absolute;
    width: 5px;
    height: 7px;
    background: yellow;
    border-radius: 3px;
    top: 55px;
}

.headlight-left {
    left: 2px;
}

.headlight-right {
    right: 2px;
}